*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color:white;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.profile{
    width: 40%;
    float: right;
}
.profile img{
    width: 100%;
    height: 110%;
    border-radius: 5%;
    box-shadow: 0 0 30px #840274ec;    
}
.about{
    margin-left: 15px;
}
.profile-info{

    width: 60%;
    height: 100vh;
    float: left;
    padding: 0 30px;
    overflow: scroll;
    overflow-x: hidden;
}
.profile-info::-webkit-scrollbar{
    width: 0;
}
.profile-info h1{
    margin-top: 50px;
    margin-bottom: 20px;
    color: #c70505;
};
    

.about{
    color: #022242;


}
.social{
    margin-top: 20px;
    margin-left: 15px;
}
.social img{
    width: 35px;
    margin-right: 15px;
    cursor: pointer;
    transition: 2s;
}
.social img:hover{
    transform: rotate(360deg);
}
.profile-info h2{
    margin-top: 50px;
    margin-bottom: 15px;
    color: hsl(285, 94%, 13%);
    font-family:unset
}
.services{
    
    display: inline-block;
    width: 28%;
    padding: 40px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 20px #840274ec;}
   
.services img{
    width: 60%;
    margin: 5px;
}
.services small{
    padding-top: 15px;
    display: block;
}




.projects img{

    width: 31%;
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 5px;
    border:1px solid hsl(0, 100%, 1%);
    cursor: pointer;
    box-shadow: 0 0 15px #840274ec;
}
.form-box{
    margin-top: 30px;
}
.input-group input{
    width: 45%;
    border: 0;
    outline: none !important;
    padding: 10px;
    background-color: hwb(319 74% 2%);
    color: hsl(0, 100%, 2%);
    margin: 2%;
    display: inline-block;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.text-arra textarea{
    width: 95%;
    border: 0;
    padding: 10px;
    background-color: hwb(319 74% 2%);
    color: hwb(0 0% 96%);
    margin: 2%;
    font-family:Georgia, 'Times New Roman', Times, serif

}
.sub{
    border: 0;
    outline: none !important;
    padding: 10px;
    background-color: #de0dad;;
    margin: 2%;
    font-weight: bold;
    color: hwb(264 94% 4%);
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.cont{
    margin: 5% 0 5% 25%;
    width: 65%;
    color: blue;
    font-family:initial
}
.cont img{
    width: 20px;
    margin: -4px 10px;
}
.cont span{
    margin: 3%;
}
.copy{
    text-align: center;
    margin-bottom: 30px;
    color: blue;
    font-family: inherit;
}
@media only screen and (max-width:900px){
    .profile-info{
        width: 95%;
        
    }
    .profile{
        width: 95%;
    }
    .profile img{
        width:90%;
    }
    .expertise{
        width: 95%;
        margin-bottom: 10px;
    }
    .projects{
        width: 95%;
    }
    .projects img{
        width: 30%;
    }
    .cont img{
        width: 10px;
        margin:-5px 10px;
    }
    .cont span{
        margin:3%;
        font-size: 10px;
    }
    .copy{
        text-align: center;
        margin-bottom: 30px;
        color:gray;
    }
}